@{
    ViewBag.Title = "Configuración de ODT";
    ViewBag.pagetitle = "ODT's";
}

<div class="row" id="config-odt">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex mb-3">
                    <div class="flex-grow-1">
                        <h4 class="card-title">Configuración Órdenes de Trabajo</h4>
                        <p class="card-title-desc mb-0">
                            Configuración vigente.
                        </p>
                        <p class="text-muted mt-1"><em>Total de configuraciones ODT's': {{totalConfiguraciones}}</em></p>
                    </div>
                    <div class="flex-shrink-0">
                        <button class="btn btn-warning" title="Recargar configuraciones de ODT" v-on:click="reloadingConfiguracionesODT()">
                            <i class="mdi mdi-refresh"></i>
                        </button>
                        <button class="btn btn-primary" title="Crear nueva configuración ODT" v-on:click="showCreateConfiguracionesODT()">
                            <i class="mdi mdi-plus"></i> Nuevo
                        </button>
                    </div>
                </div>
                <div id="tbl-configuraciones" v-if="(configuraciones.length > 0)">
                    <table id="dtConfiguraciones" class="table dt-responsive nowrap w-100">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Versión</th>
                                <th scope="col">ID</th>
                                <th scope="col">Estado</th>
                                <th scope="col" style="width: 120px; text-align: center;">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="conf in configuraciones">
                                <td>
                                    <small class="badge badge-soft-primary">{{conf.codtVersion}}</small>
                                </td>
                                <td>
                                    <small>{{conf.codtId}}</small>
                                    
                                </td>
                                <td>
                                    <small v-if="(conf.codtEstado == 1)">ACTIVO</small>
                                    <small v-if="(conf.codtEstado == 2)">INACTIVO</small>
                                </td>
                                <td style="text-align: center;">
                                    <a class="text-info mr-2" href="javascript:void(0);" v-on:click="showInfoConfiguracionODT(conf)">
                                        <i class="mdi mdi-eye-outline"></i>
                                    </a>
                                    <a class="text-warning mr-2" href="javascript:void(0);" v-on:click="showUpdateConfiguracionODT(conf.codtCodigo)">
                                        <i class="mdi mdi-square-edit-outline"></i>
                                    </a>
                                    <a class="text-danger" href="javascript:void(0);" v-on:click="deleteConfiguracionODT(conf.codtCodigo)">
                                        <i class="mdi mdi-delete-outline"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/_modalStandard.cshtml")

@section scripts {
    <!-- Required datatable js -->
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

    <script>
        var configODT = new Vue({
            el: '#config-odt',
            data: {
                configuraciones: [],
                totalConfiguraciones: 0,
                vmConfiguracionODT: {},
                codConfiguracionSelected: 0
            },
            mounted: function () {
                var vm = this;
                this.$on('responseModel', (resp) => {

                    if (resp.response) {
                        $('#standardModal').hide();
                        $('#standardModal').modal('hide');

                        switch (resp.result) {
                            case 1:
                                //odts
                                vm.getConfiguracionesODT();
                                break;
                            case 2:
                                break;
                        }
                    }
                });

                window.onload = () => {
                    this.getConfiguracionesODT();
                };
            },
            created: function () {

            },
            methods: {
                blockUI: function (msg) {
                    $(function () {
                        //#region block UI
                        $('#config-odt').block({
                            message: msg,
                            css: {
                                backgroundColor: '#36404a',
                                color: '#fff',
                                height: 40,
                                paddingTop: 10,
                                paddingLeft: 10,
                                paddingRight: 10,
                                borderRadius: 7,
                                border: '0',
                                opacity: 0.5,
                                zIndex: 9999999,
                                cursor: 'wait'
                            },
                        });
                        //#endregion
                    });
                },
                unblockUI: function () {
                    $(function () {
                        setTimeout(() => {
                            $('#config-odt').unblock();
                        }, 1000);
                    });
                },
                showAlert: function (title, msg, icon) {

                    const typeIcon = icon;

                    Swal.fire(
                        {
                            title: title,
                            text: msg,
                            icon: typeIcon,
                            confirmButtonColor: '#0576b9'
                        }
                    );
                },
                initTableOrdenes: function () {

                },
                getConfiguracionesODT: function () {

                },
                reloadingConfiguracionesODT: function () {
                    this.getConfiguracionesODT();
                },
                showCreateConfiguracionODT: function () {
                    let url = '/Mantenimiento/CreateConfiguracionODT/';

                    axios.get(url).
                        then((response) => {
                            $('.modal').html(response.data);
                            $('#standardModal').modal('show');
                        }).
                        catch((error) => {
                            console.log('Error en showCreateConfiguracionODT: ' + error);
                        });
                },
                showUpdateConfiguracionODT: function (codConfig) {

                },
                deleteConfiguracionODT: function (codConfig) {

                },
                showInfoConfiguracionODT: function (config) {

                }
            }
        });
    </script>
}