@{
    ViewBag.Title = "Órdenes de Trabajo";
    ViewBag.pagetitle = "ODT's";
}

<div class="row" id="index-odt">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex mb-3">
                    <div class="flex-grow-1">
                        <h4 class="card-title">Órdenes de Trabajo</h4>
                        <p class="card-title-desc mb-0">
                            Listado de órdenes de trabajo vigentes.
                        </p>
                        <p class="text-muted mt-1"><em>Total de ODT's': {{totalOrdenes}}</em></p>
                    </div>
                    <div class="flex-shrink-0">
                        <button class="btn btn-warning" title="Recargar órdenes de trabajo" v-on:click="reloadingOrdenes()">
                            <i class="mdi mdi-refresh"></i>
                        </button>
                        <button class="btn btn-primary" title="Crear nueva orden de trabajo" v-on:click="showCreateOrdenTrabajo()">
                            <i class="mdi mdi-plus"></i> Nuevo
                        </button>
                    </div>
                </div>
                <div id="tbl-ordenes" v-if="(ordenes.length > 0)">
                    <table id="dtOrdenes" class="table dt-responsive nowrap w-100">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Semana</th>
                                <th scope="col">F. Prevista</th>
                                <th scope="col">F. Ejecución</th>
                                <th scope="col">Código</th>
                                <th scope="col">Maquinaria</th>
                                <th scope="col">Responsable</th>
                                <th scope="col">Estado</th>
                                <th scope="col" style="width: 120px; text-align: center;">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="orden in ordenes">
                                <td>
                                    <small class="badge badge-soft-primary">{{orden.ortrSemana}}</small>
                                </td>
                                <td>
                                    <small>{{orden.ortrFechaPrevistaInicio}}</small><br />
                                    <small>{{orden.ortrFechaPrevistaFin}}</small>
                                </td>
                                <td>
                                    <small>{{orden.ortrFechaEjecucionInicio}}</small><br />
                                    <small>{{orden.ortrFechaEjecucionFin}}</small>
                                </td>
                                <td>
                                    <small>{{orden.ortrNumero}}</small>
                                </td>
                                <td>
                                    <small>{{orden.maquNombreF}}</small><br />
                                    <small><em>{{orden.maquNombre}}</em></small>
                                </td>
                                <td>
                                    <small>{{orden.usuaResponsableNombre}}</small>
                                </td>
                                <td>
                                    @* <small v-if="(maquina.maquEstado == 1)">ACTIVO</small>
                                    <small v-if="(maquina.maquEstado == 2)">INACTIVO</small> *@
                                </td>
                                <td style="text-align: center;">
                                    <a class="text-info mr-2" href="javascript:void(0);" v-on:click="showInfoOrdenesTrabajo(orden)">
                                        <i class="mdi mdi-eye-outline"></i>
                                    </a>
                                    <a class="text-warning mr-2" href="javascript:void(0);" v-on:click="showUpdateOrdenesTrabajo(orden.ortrCodigo)">
                                        <i class="mdi mdi-square-edit-outline"></i>
                                    </a>
                                    <a class="text-danger" href="javascript:void(0);" v-on:click="deleteOrdenesTrabao(orden.ortrCodigo)">
                                        <i class="mdi mdi-delete-outline"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/_modalStandard.cshtml")

@section scripts {
    <!-- Required datatable js -->
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

    <script>
        var indexODT = new Vue({
            el: '#index-odt',
            data: {
                ordenes: [],
                totalOrdenes: 0,
                vmOrdenTrabajo: {},
                codOrdenSelected: 0
            },
            mounted: function () {
                var vm = this;
                this.$on('responseModel', (resp) => {
                    
                    if (resp.response) {
                        $('#standardModal').hide();
                        $('#standardModal').modal('hide');

                        switch (resp.result) {
                            case 1:
                                //odts
                                vm.getOrdenesTrabajo();
                                break;
                            case 2:
                                break;
                        }
                    }
                });

                window.onload = () => {
                    this.getOrdenesTrabajo();
                };
            },
            created: function () {
                this.getOrdenesTrabajo();
            },
            methods: {
                blockUI: function (msg) {
                    $(function () {
                        //#region block UI
                        $('#index-odt').block({
                            message: msg,
                            css: {
                                backgroundColor: '#36404a',
                                color: '#fff',
                                height: 40,
                                paddingTop: 10,
                                paddingLeft: 10,
                                paddingRight: 10,
                                borderRadius: 7,
                                border: '0',
                                opacity: 0.5,
                                zIndex: 9999999,
                                cursor: 'wait'
                            },
                        });
                        //#endregion
                    });
                },
                unblockUI: function () {
                    $(function () {
                        setTimeout(() => {
                            $('#index-odt').unblock();
                        }, 1000);
                    });
                },
                showAlert: function (title, msg, icon) {

                    const typeIcon = icon;

                    Swal.fire(
                        {
                            title: title,
                            text: msg,
                            icon: typeIcon,
                            confirmButtonColor: '#0576b9'
                        }
                    );
                },
                initTableOrdenes: function () {

                },
                getOrdenesTrabajo: function () {
                    let url = '/Mantenimiento/GetListODTSOpen/';

                    this.blockUI('Cargando órdenes de trabajo...');
                    this.ordenes = [];
                    this.totalOrdenes = 0;

                    axios.get(url).
                        then((response) => {
                            let rm = response.data;

                            if (rm.response) {
                                this.ordenes = rm.result;
                                this.totalOrdenes = this.ordenes.length;
                            } else {
                                this.ordenes = [];
                                this.totalOrdenes = 0;
                            }

                            this.unblockUI();
                        }).
                        catch((error) => {
                            console.log('Error en getConfiguracionesODT: ' + error);
                            this.unblockUI();
                            this.ordenes = [];
                            this.totalOrdenes = 0;
                        });
                },
                reloadingOrdenes: function () {
                    this.getOrdenesTrabajo();
                },
                showCreateOrdenTrabajo: function () {
                    let url = '/Mantenimiento/CreateOrdenTrabajo/';

                    axios.get(url).
                        then((response) => {
                            $('.modal').html(response.data);
                            $('#standardModal').modal('show');
                        }).
                        catch((error) => {
                            console.log('Error en showCreateOrdenTrabajo: ' + error);
                        });
                },
                showUpdateOrdenTrabajo: function (codOrden) {

                },
                deleteOrdenTrabajo: function (codOrden) {

                },
                showInfoOrdenTrabajo: function (orden) {

                }

            }
        });
    </script>
}