@model soporte_tic.Models.ViewModels.VMConfiguracionODT

@{
    var modelConfiguracion = Model;
}

<div class="modal-dialog modal-dialog-centered" role="document" id="frmUpdateConfiguracion">
    <div class="modal-content" id="frmContent">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Editar Configuración de ODT</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row mb-1">
                <div class="col-lg-6">
                    <label for="txtVersion">Versión</label>
                    <input id="txtVersion" class="form-control" style="text-transform: uppercase;" type="text" v-model="vmConfiguracionODT.codtVersion" />
                </div>
                <div class="col-lg-6">
                    <label for="txtID">ID</label>
                    <input id="txtID" class="form-control" type="text" v-model="vmConfiguracionODT.codtId" />
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-lg-6">
                    <label for="cboEstado">Estado</label>
                    <select id="cboEstado" class="form-select" name="codtEstado" v-model="vmConfiguracionODT.codtEstado">
                        <option selected class="text-muted" value="-1">Seleccione un estado...</option>
                        <option value="1">ACTIVO</option>
                        <option value="2">INACTIVO</option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <label for="txtObservacion">Observación:</label>
                    <input id="txtObservacion" class="form-control" type="text" v-model="vmConfiguracionODT.codtObservacion" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" v-on:click="updateConfiguracion()">Actualizar</button>
        </div>
    </div>
</div>

<script>
    var frmUpdateConfiguracion = new Vue({
        el: '#frmUpdateConfiguracion',
        data: {
            perfiles: [],
            vmConfiguracionODT: {
            }
        },
        mounted: function () {

        },
        created: function () {
            this.vmConfiguracionODT = @Html.Raw(Json.Serialize(Model));
        },
        methods: {
            blockUI: function (msg) {
                $(function () {
                    //#region block UI
                    $('#frmContent').block({
                        message: msg,
                        css: {
                            backgroundColor: '#36404a',
                            color: '#fff',
                            height: 40,
                            paddingTop: 10,
                            paddingLeft: 10,
                            paddingRight: 10,
                            borderRadius: 7,
                            border: '0',
                            opacity: 0.5,
                            zIndex: 9999999,
                            cursor: 'wait'
                        },
                    });
                    //#endregion
                });
            },
            unblockUI: function () {
                $(function () {
                    $('#frmContent').unblock();
                });
            },
            showAlert: function (title, msg, icon) {

                const typeIcon = icon;

                Swal.fire(
                    {
                        title: title,
                        text: msg,
                        icon: typeIcon,
                        confirmButtonColor: '#0576b9'
                    }
                );
            },
            validateFields: function () {

                let isValid = true;

                //#region nombre
                if (this.vmUsuario.usuaNombre == '' ||
                    this.vmUsuario.usuaNombre == null) {
                    $('#txtNombre').addClass('is-invalid');
                    isValid = false;
                } else {
                    $('#txtNombre').removeClass('is-invalid');
                }
                //#endregion

                //#region cédula
                if (this.vmUsuario.usuaCedula == '' ||
                    this.vmUsuario.usuaCedula == null) {
                    $('#txtCedula').addClass('is-invalid');
                    isValid = false;
                } else {
                    $('#txtCedula').removeClass('is-invalid');
                }
                //#endregion

                //#region teléfono
                if (this.vmUsuario.usuaTelefono == '' ||
                    this.vmUsuario.usuaTelefono == null) {
                    $('#txtTelefono').addClass('is-invalid');
                    isValid = false;
                } else {
                    $('#txtTelefono').removeClass('is-invalid');
                }
                //#endregion

                //#region email
                if (this.vmUsuario.usuaEmail == '' ||
                    this.vmUsuario.usuaEmail == null) {
                    $('#txtEmail').addClass('is-invalid');
                    isValid = false;
                } else {
                    $('#txtEmail').removeClass('is-invalid');
                }
                //#endregion

                //#region perfil
                if (this.vmUsuario.usuaPerfil == -1) {
                    $('#cboPerfil').addClass('is-invalid');
                    isValid = false;
                } else {
                    $('#cboPerfil').removeClass('is-invalid');
                }
                //#endregion

                return isValid;
            },
            updateConfiguracion: function () {
                let url = '/Mantenimiento/UpdateConfiguracionODT/';

                console.log('vmConfiguracionODT: ' + JSON.stringify(this.vmConfiguracionODT));

                this.blockUI('Actualizando configuración...');

                axios.put(url, this.vmConfiguracionODT).then((resp) => {
                    let rm = resp.data;

                    if (rm.response) {
                        rm.result = null;
                        rm.result = 1;
                        configODT.$emit('responseModel', rm);
                        this.showAlert(rm.title, rm.message, 'success');
                    } else {
                        this.showAlert(rm.title, rm.message, 'warning');
                    }

                    this.unblockUI();
                }).catch((error) => {
                    this.unblockUI();
                    console.log('Ocurrió un error en updateConfiguracion: ' + error);
                });
            }
        }
    });
</script>

