<!-- Standard Modal -->
<div class="modal fade" id="standardModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
</div>
