
<meta charset="utf-8" />
<title>@ViewBag.title | SOPORTE</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Sistema de Gestión y Control de Soporte" name="description" />
<meta content="Freddy Samanate" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/favicon.ico">