@using System.Security.Claims
@{
    var nombreUsuario = Convert.ToString(User.FindFirst(ClaimTypes.Name)?.Value);
}

<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="~/assets/images/logo-sm-light.png" alt="logo-sm" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="~/assets/images/logo-sm.png" alt="logo-dark" height="23">
                    </span>
                </a>

                <a href="/" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="~/assets/images/logo-sm.png" alt="logo-sm-light" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="~/assets/images/logo-light.png" alt="logo-light" height="23">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-16 vertinav-toggle header-item waves-effect" id="vertical-menu-btn">
                <i class="fa fa-fw fa-bars"></i>
            </button>

            <button type="button" class="btn btn-sm px-3 font-size-16 horinav-toggle header-item waves-effect waves-light" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                <i class="fa fa-fw fa-bars"></i>
            </button>
        </div>

        <div class="d-flex">
            <div class="dropdown d-none d-lg-inline-block ms-1">
                <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                    <i class="mdi mdi-fullscreen"></i>
                </button>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="~/assets/images/users/no_user.jpg"
                         alt="Img User">
                    <span class="d-none d-xl-inline-block ms-1">@nombreUsuario</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <h6 class="dropdown-header">Bienvenido!</h6>
                    <a class="dropdown-item" href="javascript:void(0);" v-on:click="showUserPerfil()"><i class="mdi mdi-account-circle text-muted font-size-16 align-middle me-1"></i> <span class="align-middle" key="t-profile">Perfil</span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("Logout","Login")"><i class="mdi mdi-logout text-muted font-size-16 align-middle me-1"></i> <span class="align-middle" key="t-logout">Cerrar Sesión</span></a>
                </div>
            </div>

        </div>
    </div>
</header>
@await Html.PartialAsync("~/Views/Shared/_modalStandard.cshtml")
@section scripts {
    
    <script>
        var pageNavBar = new Vue({
            el: '#page-topbar',
            data: {
            },
            mounted: function () {
                var vm = this;
                
            },
            created: function () {
                console.log('hola from vue.js');
            },
            methods: {
                showUserPerfil: function () {
                    let url = '/Usuario/ShowUserPerfil/';

                    axios.get(url).
                        then((response) => {
                            $('.modal').html(response.data);
                            $('#standardModal').modal('show');
                        }).
                        catch((error) => {
                            console.log('Error en showUserPerfil: ' + error);
                        });
                },
                showInfoUser: function (user) {
                    if (user != null) {
                        let estado = (user.usuaEstado == 0) ? 'INACTIVO' : 'ACTIVO';
                        let logo = (user.usuaFoto != null && user.usuaFoto != '') ?
                            `/uploads/${user.usuaFoto}` : '/assets/images/users/no_user.jpg';
                        let perfil = this.getPerfilName(user.usuaPerfil);

                        Swal.fire({
                            title: "<strong>Información de Usuario</strong>",
                            html: `
                                <div style="text-align: center; margin-top: 10px; ">
                                    <img class="img-thumbnail avatar-sm mt-2 mb-4" style="width: 120px!important; height: 120px!important;" src="${logo}" alt="Logo Empresa">
                                    <table style="border-collapse: collapse; width: 100%; margin: 0 auto; font-size: 16px;">
                                        <tbody>
                                            <tr>
                                                <td style="border: 1px solid #ddd; padding: 8px; font-weight: bolder;">Nombre:</td>
                                                <td style="border: 1px solid #ddd; padding: 8px;">${user.usuaNombre}</td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid #ddd; padding: 8px; font-weight: bolder;">Cédula:</td>
                                                <td style="border: 1px solid #ddd; padding: 8px;">${user.usuaCedula}</td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid #ddd; padding: 8px; font-weight: bolder;">Teléfono:</td>
                                                <td style="border: 1px solid #ddd; padding: 8px;">${user.usuaTelefono}</td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid #ddd; padding: 8px; font-weight: bolder;">Email:</td>
                                                <td style="border: 1px solid #ddd; padding: 8px;">${user.usuaEmail}</td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid #ddd; padding: 8px; font-weight: bolder;">Perfil:</td>
                                                <td style="border: 1px solid #ddd; padding: 8px;">${perfil}</td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid #ddd; padding: 8px; font-weight: bolder;">Estado:</td>
                                                <td style="border: 1px solid #ddd; padding: 8px;">${estado}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            `,
                        });
                    } else {
                        this.showAlert(
                            'Ver Información de Usuario',
                            'No se detectó un Usuario para mostar!.',
                            'warning'
                        );
                    }
                },
                getPerfilName: function (codPerfil){
                    switch (codPerfil) {
                        case 1:
                            return 'Administrador';
                        case 2:
                            return 'Supervisor';
                        case 3:
                            return 'Técnico';
                        case 4:
                            return 'Monitor';
                        default:
                            return 'SN';
                    }
                }
            }
        });
    </script>
}