@{
    ViewBag.Title = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Sistema de Gestión y Control de Soporte</a>.</p>
</div>

@section scripts {
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}
