@{
    ViewBag.Title = "Gestión Maquinarias";
    ViewBag.pagetitle = "Maquinarias";
}

<div class="row" id="index-maquinarias">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex mb-3">
                    <div class="flex-grow-1">
                        <h4 class="card-title">Maquinarias</h4>
                        <p class="card-title-desc mb-0">
                            Listado de maquinarias disponibles en el sistema.
                        </p>
                        <p class="text-muted mt-1"><em>Total de maquinarias: {{totalMaquinarias}}</em></p>
                    </div>
                    <div class="flex-shrink-0">
                        <button class="btn btn-warning" title="Recargar maquinarias" v-on:click="reloadingMaquinarias()">
                            <i class="mdi mdi-refresh"></i>
                        </button>
                        <button class="btn btn-primary" title="Crear nueva maquinaria" v-on:click="showCreateMaquinaria()">
                            <i class="mdi mdi-plus"></i> Nuevo
                        </button>
                    </div>
                </div>
                <div id="tbl-maquinarias" v-if="(maquinarias.length > 0)">
                    <table id="dtMaquinarias" class="table dt-responsive nowrap w-100">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Tipo</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Estado</th>
                                <th scope="col" style="width: 120px; text-align: center;">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="maquina in maquinarias">
                                <td>
                                    <small class="badge badge-soft-success" v-if="(maquina.maquTipo==1)">Maquinaria</small>
                                    <small class="badge badge-soft-warning" v-if="(maquina.maquTipo==2)">Componente</small>
                                </td>
                                <td>
                                    <small><a href="javascript:void(0);" v-on:click="getMaquinariasComponente(maquina.maquCodigo, maquina.maquNombre)">{{maquina.maquNombre}}</a></small>
                                </td>
                                <td>
                                    <small>{{maquina.maquDescripcion}}</small>
                                </td>
                                <td>
                                    <small v-if="(maquina.maquEstado == 1)">ACTIVO</small>
                                    <small v-if="(maquina.maquEstado == 2)">INACTIVO</small>
                                </td>
                                <td style="text-align: center;">
                                    <a class="text-info mr-2" href="javascript:void(0);" v-on:click="showInfoMaquinaria(maquina)">
                                        <i class="mdi mdi-eye-outline"></i>
                                    </a>
                                    <a class="text-warning mr-2" href="javascript:void(0);" v-on:click="showUpdateMaquinaria(maquina.maquCodigo)">
                                        <i class="mdi mdi-square-edit-outline"></i>
                                    </a>
                                    <a class="text-danger" href="javascript:void(0);" v-on:click="deleteMaquinaria(maquina.maquCodigo)">
                                        <i class="mdi mdi-delete-outline"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex mb-3">
                    <div class="flex-grow-1">
                        <h4 class="card-title">Componentes</h4>
                        <p class="card-title-desc mb-0">
                            Listado de componentes de maquinaria: {{nombreMaquinariaSelected}}.
                        </p>
                        <p class="text-muted mt-1"><em>Total de componentes: {{totalComponentes}}</em></p>
                    </div>
                    <div class="flex-shrink-0">
                        <button class="btn btn-warning" title="Recargar de componentes maquinarias" v-on:click="reloadingComponenteMaquinarias()">
                            <i class="mdi mdi-refresh"></i>
                        </button>
                        <button class="btn btn-primary" title="Crear nuevo componente" v-on:click="showCreateComponenteMaquinaria()">
                            <i class="mdi mdi-plus"></i> Nuevo
                        </button>
                    </div>
                </div>
                <div id="tbl-componentes" v-if="(maquinariasComponente.length > 0)">
                    <table id="dtComponentes" class="table dt-responsive nowrap w-100">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Tipo</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Estado</th>
                                <th scope="col" style="width: 120px; text-align: center;">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="componente in maquinariasComponente">
                                <td>
                                    <small class="badge badge-soft-success" v-if="(componente.maquTipo==1)">Maquinaria</small>
                                    <small class="badge badge-soft-warning" v-if="(componente.maquTipo==2)">Componente</small>
                                </td>
                                <td>
                                    <small>{{componente.maquNombre}}</small>
                                </td>
                                <td>
                                    <small>{{componente.maquDescripcion}}</small>
                                </td>
                                <td>
                                    <small v-if="(componente.maquEstado == 1)">ACTIVO</small>
                                    <small v-if="(componente.maquEstado == 2)">INACTIVO</small>
                                </td>
                                <td style="text-align: center;">
                                    <a class="text-info mr-2" href="javascript:void(0);" v-on:click="showInfoComponenteMaquinaria(componente)">
                                        <i class="mdi mdi-eye-outline"></i>
                                    </a>
                                    <a class="text-warning mr-2" href="javascript:void(0);" v-on:click="showUpdateComponenteMaquinaria(componente.maquCodigo)">
                                        <i class="mdi mdi-square-edit-outline"></i>
                                    </a>
                                    <a class="text-danger" href="javascript:void(0);" v-on:click="deleteComponenteMaquinaria(componente.maquCodigo)">
                                        <i class="mdi mdi-delete-outline"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/_modalStandard.cshtml")

@section scripts {
    <!-- Required datatable js -->
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

    <script>
        var indexMaquinarias = new Vue({
            el: '#index-maquinarias',
            data: {
                vmMaquinaria: {

                },
                maquinarias: [],
                maquinariasComponente: [],
                totalMaquinarias: 0,
                totalComponentes: 0,
                codMaquinariaSelected: 0,
                nombreMaquinariaSelected: ''
            },
            mounted: function () {
                var vm = this;
                this.$on('responseModel', (resp) => {
                    //console.log('response modal', JSON.stringify(resp));
                    if (resp.response) {
                        $('#standardModal').hide();
                        $('#standardModal').modal('hide');

                        switch (resp.result) {
                            case 1:
                                //maquinarias
                                vm.getMaquinarias();
                                break;
                            case 2:
                                //maquinarias componente
                                vm.getMaquinariasComponente(vm.codMaquinariaSelected, vm.nombreMaquinariaSelected);
                                break;
                        }
                    }
                });

                window.onload = () => {
                    this.getMaquinarias();
                };
            },
            created: function () {

            },
            methods: {
                blockUI: function (msg) {
                    $(function () {
                        //#region block UI
                        $('#index-maquinarias').block({
                            message: msg,
                            css: {
                                backgroundColor: '#36404a',
                                color: '#fff',
                                height: 40,
                                paddingTop: 10,
                                paddingLeft: 10,
                                paddingRight: 10,
                                borderRadius: 7,
                                border: '0',
                                opacity: 0.5,
                                zIndex: 9999999,
                                cursor: 'wait'
                            },
                        });
                        //#endregion
                    });
                },
                unblockUI: function () {
                    $(function () {
                        setTimeout(() => {
                            $('#index-maquinarias').unblock();
                        }, 1000);
                    });
                },
                showAlert: function (title, msg, icon) {

                    const typeIcon = icon;

                    Swal.fire(
                        {
                            title: title,
                            text: msg,
                            icon: typeIcon,
                            confirmButtonColor: '#0576b9'
                        }
                    );
                },
                initTableMaquinarias: function () {
                    setTimeout(() => {
                        $("#dtMaquinarias").DataTable({
                            "language": {
                                "zeroRecords": "No se encontraron maquinarias disponibles!",
                                "info": "Mostrando pag. _PAGE_ de _PAGES_",
                                "infoEmpty": "No se encontró coincidencias!",
                                "infoFiltered": "(filtrado de _MAX_ registros en total)",
                                "search": "Buscar:",
                                "paginate": {
                                    "previous": "<i class='mdi mdi-chevron-left'>",
                                    "next": "<i class='mdi mdi-chevron-right'>"
                                },
                                "lengthMenu": "Mostrar <select class=\"custom-select custom-select-sm ml-1 mr-1\"><option value='10'>10</option><option value='20'>20</option><option value='-1'>Todas</option></select> maquinarias"
                            },
                            pageLength: 10,
                            columns: [
                                { orderable: !0 }, { orderable: !0 }, { orderable: !0 }, 
                                { orderable: !0 }, { orderable: !0 }
                            ],
                            responsive: false,
                            destroy: true,
                            retrieve: true,
                            autoFill: true,
                            order: [],
                            drawCallback: function () {
                                $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
                                $(".dataTables_paginate ").addClass('float-end');
                            }
                        });
                    }, 500);
                },
                initTableMaquinariasComponente: function () {
                    setTimeout(() => {
                        $("#dtComponentes").DataTable({
                            "language": {
                                "zeroRecords": "No se encontraron maquinarias disponibles!",
                                "info": "Mostrando pag. _PAGE_ de _PAGES_",
                                "infoEmpty": "No se encontró coincidencias!",
                                "infoFiltered": "(filtrado de _MAX_ registros en total)",
                                "search": "Buscar:",
                                "paginate": {
                                    "previous": "<i class='mdi mdi-chevron-left'>",
                                    "next": "<i class='mdi mdi-chevron-right'>"
                                },
                                "lengthMenu": "Mostrar <select class=\"custom-select custom-select-sm ml-1 mr-1\"><option value='10'>10</option><option value='20'>20</option><option value='-1'>Todas</option></select> maquinarias"
                            },
                            pageLength: 10,
                            columns: [
                                { orderable: !0 }, { orderable: !0 }, { orderable: !0 },
                                { orderable: !0 }, { orderable: !0 }
                            ],
                            responsive: false,
                            destroy: true,
                            retrieve: true,
                            autoFill: true,
                            order: [],
                            drawCallback: function () {
                                $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
                                $(".dataTables_paginate ").addClass('float-end');
                            }
                        });
                    }, 500);
                },
                getMaquinarias: function () {
                    const url = '/Maquinaria/GetListMaquinarias/';
                    this.maquinarias = [];
                    this.totalMaquinarias = 0;

                    this.blockUI('Cargando maquinarias...');

                    axios.get(url).then(response => {
                        let rm = response.data;
                        console.log(JSON.stringify(rm));

                        if (rm.response) {
                            this.maquinarias = rm.result;
                            //console.log(JSON.stringify(this.usuarios));
                        } else {
                            this.maquinarias = [];
                        }

                        this.totalMaquinarias = this.maquinarias.length;

                        this.initTableMaquinarias();

                        this.unblockUI();
                    }).catch(error => {
                        console.error('Error getMaquinarias => ' + error);
                        this.unblockUI();
                    });
                },
                getMaquinariasComponente: function (codMaquinaria, txtMaquinaria) {
                    const url = '/Maquinaria/GetListMaquinariasComponente/';
                    this.codMaquinariaSelected = codMaquinaria;
                    this.nombreMaquinariaSelected = txtMaquinaria;
                    this.maquinariasComponente = [];
                    this.totalComponentes = 0;

                    this.blockUI('Cargando componentes de maquinarias...');

                    axios.get(url, {params: {codMaquinaria: codMaquinaria}}).then(response => {
                        let rm = response.data;
                        console.log(JSON.stringify(rm));

                        if (rm.response) {
                            this.maquinariasComponente = rm.result;
                            //console.log(JSON.stringify(this.usuarios));
                        } else {
                            this.maquinariasComponente = [];
                        }

                        this.totalComponentes = this.maquinariasComponente.length;

                        this.initTableMaquinariasComponente();

                        this.unblockUI();
                    }).catch(error => {
                        console.error('Error getMaquinariasComponente => ' + error);
                        this.unblockUI();
                    });
                },
                reloadingMaquinarias: function () {
                    this.getMaquinarias();
                },
                showCreateMaquinaria: function () {
                    let url = '/Maquinaria/CreateMaquinaria/';

                    axios.get(url, {params: {codMaquinaria: this.codMaquinariaSelected}}).
                        then((response) => {
                            $('.modal').html(response.data);
                            $('#standardModal').modal('show');
                        }).
                        catch((error) => {
                            console.log('Error en showCreateMaquinaria: ' + error);
                        });
                },
                showUpdateMaquinaria: function (codMaquinaria) {
                    if (codMaquinaria != 0) {
                        let url = '/Maquinaria/UpdateMaquinaria/';

                        axios.get(url, { params: { codMaquinaria: codMaquinaria } }).
                            then((response) => {

                                //console.log(response.data);
                                $('.modal').html(response.data);
                                $('#standardModal').modal('show');

                            }).
                            catch((error) => {
                                console.log('Error en showUpdateMaquinaria: ' + error);
                            });
                    } else {
                        this.showAlert('Validación', 'No se detectó una maquinaria válida para actualizar!.', 'warning');
                    }
                },
                deleteMaquinaria: function (codMaquinaria) {
                    if (codMaquinaria != 0) {
                        Swal.fire({
                            title: 'Está seguro de querer eliminar la maquinaria seleccionada?',
                            showCancelButton: true,
                            confirmButtonText: 'Sí',
                            confirmButtonColor: '#d65530',
                            icon: 'question'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                let url = '/Maquinaria/DeleteMaquinaria/';
                                console.log('código maquinaria: ' + codMaquinaria);
                                this.blockUI('Eliminando maquinaria...');

                                axios.get(url, { params: { codMaquinaria: codMaquinaria } }).
                                    then((response) => {
                                        let rm = response.data;

                                        if (rm.response) {
                                            this.showAlert(rm.title, rm.message, 'success');
                                            this.getMaquinarias();
                                        } else {
                                            this.showAlert(rm.title, rm.message, 'warning');
                                        }

                                        this.unblockUI();
                                    }).
                                    catch((error) => {
                                        this.unblockUI();
                                        console.log('Error en deleteMaquinaria: ' + error);
                                    });
                            }
                        });
                    } else {
                        this.showAlert('Validación', 'No se detectó una maquinaria válida para eliminar!.', 'warning');
                    }
                },
                showInfoUser: function (user) {
                    if (user != null) {
                        let estado = (user.usuaEstado == 0) ? 'INACTIVO' : 'ACTIVO';
                        let logo = (user.usuaFoto != null && user.usuaFoto != '') ?
                            user.usuaFoto : '/assets/images/users/no_user.jpg';

                        Swal.fire({
                            title: "<strong>Información de Usuario</strong>",
                            html: `
                                <div style="text-align: center; margin-top: 10px; ">
                                    <img class="img-thumbnail avatar-sm mt-2 mb-4" style="width: 120px!important; height: 120px!important;" src="${logo}" alt="Logo Empresa">
                                    <table style="border-collapse: collapse; width: 100%; margin: 0 auto; font-size: 16px;">
                                        <tbody>
                                            <tr>
                                                <td style="border: 1px solid #ddd; padding: 8px; font-weight: bolder;">Nombre:</td>
                                                <td style="border: 1px solid #ddd; padding: 8px;">${user.usuaNombre}</td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid #ddd; padding: 8px; font-weight: bolder;">Cédula:</td>
                                                <td style="border: 1px solid #ddd; padding: 8px;">${user.usuaCedula}</td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid #ddd; padding: 8px; font-weight: bolder;">Teléfono:</td>
                                                <td style="border: 1px solid #ddd; padding: 8px;">${user.usuaTelefono}</td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid #ddd; padding: 8px; font-weight: bolder;">Email:</td>
                                                <td style="border: 1px solid #ddd; padding: 8px;">${user.usuaEmail}</td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid #ddd; padding: 8px; font-weight: bolder;">Perfil:</td>
                                                <td style="border: 1px solid #ddd; padding: 8px;">${user.perfNombre}</td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid #ddd; padding: 8px; font-weight: bolder;">User:</td>
                                                <td style="border: 1px solid #ddd; padding: 8px;">${user.usuaUser}</td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid #ddd; padding: 8px; font-weight: bolder;">Estado:</td>
                                                <td style="border: 1px solid #ddd; padding: 8px;">${estado}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            `,
                        });
                    } else {
                        this.showAlert(
                            'Ver Información de Usuario',
                            'No se detectó un Usuario para mostar!.',
                            'warning'
                        );
                    }
                },
                showInfoComponenteMaquinaria: function (componente) {

                },
                showUpdateComponenteMaquinaria: function (codComponente) {

                },
                deleteComponenteMaquinaria: function (codComponente) {

                },
                reloadingComponenteMaquinarias: function () {
                    this.getMaquinariasComponente(this.codMaquinariaSelected, this.nombreMaquinariaSelected);
                },
                showCreateComponenteMaquinaria: function () {
                    let url = '/Maquinaria/CreateMaquinaria/';

                    axios.get(url, {params: {codMaquinaria: this.codMaquinariaSelected}}).
                        then((response) => {
                            $('.modal').html(response.data);
                            $('#standardModal').modal('show');
                        }).
                        catch((error) => {
                            console.log('Error en showCreateMaquinaria: ' + error);
                        });
                }
            }
        });
    </script>
}